<div class="container">
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <br>
    <%= f.text_field :email, placeholder: 'email', autocomplete: "on"  %>
  </div>
  <div class="field">
    <br>
    <%= f.password_field :password, placeholder: 'password', autocomplete: "off" %>
  </div>
    <br>
  <button type="submit" class="btn btn-primary">Submit</button>
<% end %>
</div>
